<header class="bg-zinc-900/80 flex justify-between p-3 px-10 fixed w-full border border-b-zinc-700 z-10">
<h1 class="text-2xl font-bold text-purple-500 flex items-center"><<span class="text-white">Sousa</span>/></h1>
<ul class="flex text-gray-300 items-center gap-5 text-lg font-medium">
  @for (item of navItems; track item.label) {
    <a href="#" class="relative group overflow-hidden hover:text-zinc-50">
      <span class="text">{{item.label}}</span>
      <span class="absolute left-0 bottom-0 h-0.5 w-0 bg-purple-500 transition-all duration-500 group-hover:w-full"></span>
    </a>
  }
</ul>
<div class="flex justify-center items-center gap-5">
  <button class="flex gap-2 bg-black border border-zinc-700 text-white p-2 rounded-lg cursor-pointer">
    <lucide-icon name="Download" class="scale-95"></lucide-icon>
    <p class="font-medium">Currículo</p>
  </button>
</div>
</header>