<header class="bg-zinc-900 flex justify-between p-4">
<h1 class="text-2xl font-bold text-purple-500 flex items-center"><<span class="text-white">Sousa</span>/></h1>
<ul class="flex text-gray-300 items-center gap-5 text-lg font-medium">
  <li class="cursor-pointer hover:text-white hover:border-b-4 border-purple-500">Home</li>
  <li class="cursor-pointer hover:text-white hover:border-b-4 border-purple-500">Sobre</li>
  <li class="cursor-pointer hover:text-white hover:border-b-4 border-purple-500">Habilidades</li>
  <li class="cursor-pointer hover:text-white hover:border-b-4 border-purple-500">Projetos</li>
  <li class="cursor-pointer hover:text-white hover:border-b-4 border-purple-500">Contato</li>
</ul>
</header>